:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  .game-name {
    font-size: 18px;
    flex-grow: 1;
  }
  small {
    font-size: 14px;
  }
}
